.reac , .reac *{
    font-family: SF Pro Display !important;
    
}

.reac figure{
    overflow-x: auto;
    padding: 10px;
    
    margin: 0 !important;
}
.reac figure table {
    
}

.reac a{

    font-weight: 500;
    color: var(--brand-col1);
    text-decoration: underline;
    cursor: pointer;
    
}

.reac figure::-webkit-scrollbar{
    width: 2px;
    height: 2px;
}