.item{
    width: 100%;
    box-shadow: 4px 4px 22px -5px #00000022;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
    border: 1px solid transparent;
    position: relative;
    transition: all .4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.activeMode{
    border: 1px solid var(--brand-accent);
    background-color: #ddd;
}

.list{
    cursor: pointer;
}
.editbutton{
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: var(--brand-accent);
    border-radius: 200px;
    padding: 10px 20px;
    pointer-events: none;
    font-size: 12px;
    opacity: 0;
    transform: translate(-50%,-50%);
    transition: all .4s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.item:hover .editbutton{
    opacity: 1;
}
.head{
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}
.add{
    display: flex;
    align-items: center;
    align-content: center;flex-direction: row;
    justify-content: flex-start;
    
}
.delete{
    transform: rotate(45deg) translateY(-50%);
    opacity: 0;
    pointer-events: none;
    transition: all .4s cubic-bezier(0.075, 0.82, 0.165, 1);
    position: absolute;right: 20px;
    top:50%;
    cursor: pointer;

}
.delete:hover{
    transform: rotate(45deg) translateY(-50%) scale(1.2);
}
.item:hover:not(.activeMode){
    
    width: 100%;
}
.item:hover .delete{
    opacity: 1;
    pointer-events: all;
}
.list p{
    margin: 0;
    font-size: 12px;
}
.delete path{
    fill: red;
}
.add svg{
    margin-right: 10px;
}