.navcont {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0px;
    height: auto;
    padding: 40px 7vw;
    transition: all .4s cubic-bezier(0.165, 0.84, 0.44, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: row;
    font-family: SF Pro Display;
    color: black;
    z-index: 999;
    user-select: none;
}

.gr {
    color: var(--brand-col1);
    transition: all .4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.active .gr {
    color: var(--brand-accent);
}

.active {
    background-color: white;
    color: var(--brand-col4);
    padding: 20px 7vw;
    box-shadow: 4px 4px 12px -5px #00000022;
}

.active .navlogo img {
    width: 50px;
}

.hasChild {
    padding-left: 3vw;
}

.navlogo {
    max-width: 300px;
    width: auto;
    position: relative;
    transition: all .4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.navlogo img {
    position: relative;
    transition: all .4s cubic-bezier(0.165, 0.84, 0.44, 1);
    width: 64px;
    height: auto;
    display: block;
}

.menuhold {
    width: 750px;
    background-color: rgba(255, 255, 255, 0.062);
    padding: 0 20px;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid white;
}

.menuhold li svg {
    pointer-events: none;
}

.menuhold ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
}

.menuhold ul li {
    font-size: 18px;
    font-weight: 500;
    transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.button {
    padding: 10px 30px;
    background-color: var(--brand-col1);
    display: block;
    color: white;
    border-radius: 10px;
}

.menuhold ul li:hover {
    color: var(--brand-col1);
}

.toggle {
    width: 44px;
    height: 44px;
    padding: 10px;
    cursor: pointer;
    position: relative;
    background-color: var(--brand-col1);
    box-shadow: 5px 5px 12px -4px var(--brand-col1);
}

.toggle .ham {
    fill: white;
    width: 100%;
    height: 100%;
    transform: rotate(0deg);
    opacity: 1;
    transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.activetoggle .ham {
    transform: rotate(45deg);
    opacity: 0;
}

.close {
    position: absolute;
    fill: white;
    width: 100%;
    height: 100%;
    transform: rotate(-45deg) scale(0.7);
    opacity: 0;
    left: 0;
    top: 0;
    transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.activetoggle .close {
    transform: rotate(0deg) scale(0.7);
    opacity: 1;
    transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.toggle,
.mobmenu {
    display: none;
}

.submenu {
    width: 70%;
    background: white;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    transform: translateX(100%);
    position: fixed;
    right: 0;
    top: 0;
    padding: 0 40px;
    text-align: center;
    height: 100vh;
    z-index: 99;
    transition: all .6s cubic-bezier(.46, 0, 0, 1.02);
}

.submenu li {
    list-style-type: none;
    font-family: SF Pro Display;
    margin: 5% 0;
    font-size: 16px;
    font-weight: 500;
    opacity: 0;
    transform: translateY(50px);
    animation: upup .5s cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-fill-mode: forwards;
}

.desknav {
    top: 0;
    background-color: white;
    position: fixed;
    left: 0;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    z-index: 9999;
    width: auto;
    overflow: hidden;
    padding: 0px 10px;
    border-radius: 10px;
    box-shadow: 8px 8px 22px -2px #00000022;
}

.desknav ul {
    padding: 0;
}

.desknav li img,
.submenu img {
    width: 24px;
    height: 24px;
    border-radius: 200px;
    object-fit: cover;
    margin-right: 20px;
}

.submenu li {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 5px 0;
}

.desknav ul {
    margin: 0;
}

.desknav li {
    animation: upup .5s cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-fill-mode: forwards;
    opacity: 0;
    border-radius: 10px;
    padding: 5px 30px;
    list-style-type: none;
    font-family: SF Pro Display;
    position: relative;
    margin: 10px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}


/* .desknav li:not(:last-child)::before {
    content: '';
    bottom: -6px;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #ddd;
    left: 0;
} */

.desknav li:hover {
    background-color: #a51c3033;
    color: var(--brand-col1);
}

.desknav svg {
    pointer-events: none;
}

.submenu li:hover {
    color: var(--brand-col1);
}

@keyframes upup {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.closesub {
    width: 44px;
    height: 44px;
    background-color: var(--brand-col1);
    border-radius: 200px;
    top: 50vh;
    box-shadow: 4px 4px 12px -4px #00000066;
    position: absolute;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: hidden;
    pointer-events: none;
    transform: rotate(-40deg);
    left: 10px;
    transition: all .6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.activesub .closesub {
    transform: rotate(0deg);
    opacity: 1;
    left: -22px;
    pointer-events: all;
}

.closesub:hover {
    filter: brightness(1.3);
}

.activesub {
    transform: translateX(0);
}

.menuhold li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    align-content: center;
    position: relative;
    transition: all .2s cubic-bezier(.46, 0, 0, 1.02);
}

.menuhold li svg {
    position: absolute;
    right: -18px;
    transition: all .2s cubic-bezier(.46, 0, 0, 1.02);
    top: 4px;
    width: 16px;
    height: 16px;
}

.menuhold li:hover svg {
    top: 8px;
}

.menuhold li:hover svg path {
    fill: var(--brand-col1);
}

.mobmenu li svg {
    margin-top: 5px;
    transition: all .4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@media only screen and (max-width:1040px) {
    .navlist {
        display: none;
    }
}

@media only screen and (max-width:968px) {
    .submenu {
        display: flex;
    }
    .desknav {
        display: none;
    }
    .toggle {
        display: block !important;
    }
    .mobmenu {
        display: flex !important;
        background-color: var(--brand-col1);
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        align-items: center;
        align-content: center;
        justify-content: center;
        z-index: 96;
        text-align: center;
        transform: translateX(100%);
        transition: all .6s cubic-bezier(.46, 0, 0, 1.02);
    }
    .mobmenu ul {
        padding: 0;
        list-style-type: none;
        font-family: Playfair Display;
        font-size: 5vw;
    }
    .mobmenu li {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        align-content: center;
        margin: 10% 0;
        transition: all .2s cubic-bezier(.46, 0, 0, 1.02);
    }
    .togactive {
        color: white;
    }
    .togactive svg path {
        fill: white;
    }
    .togactive svg {
        transform: rotate(45deg);
    }
    .sub {
        transform: translateX(-69%) !important;
    }
    .mobmenu li:hover {
        color: white;
    }
    .mobmenu li svg {
        margin-left: 10px;
    }
    .mobmenu li:hover svg path {
        fill: white;
    }
    .mobmenu .button {
        box-shadow: 4px 4px 12px -4px #00000022;
        border: 1px solid white;
    }
    .activemenu {
        transform: translateX(0px);
    }
    .navlogo img {
        width: 50px;
    }
    .navcont {
        padding: 20px 4vw;
    }
    .menuhold {
        display: none;
    }
}