.navcont {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0px;
    height: auto;
    padding: 40px 7vw;
    transition: all .4s cubic-bezier(0.165, 0.84, 0.44, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: row;
    font-family: SF Pro Display;
    color: black;
    z-index: 999;
    user-select: none;
}

.gr {
    color: var(--brand-col1);
    transition: all .4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.active .gr {
    color: var(--brand-accent);
}

.active {
    background-color: white;
    color: var(--brand-col4);
    padding: 20px 7vw;
    box-shadow: 4px 4px 12px -5px #00000022;
}

.active .navlogo img {
    width: 50px;
}

.hasChild {
    padding-left: 3vw;
}

.navlogo {
    max-width: 300px;
    width: auto;
    position: relative;
    transition: all .4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.navlogo img {
    position: relative;
    transition: all .4s cubic-bezier(0.165, 0.84, 0.44, 1);
    width: 64px;
    height: auto;
    display: block;
}

.menuhold {
    width: 550px;
    background-color: rgba(255, 255, 255, 0.062);
    padding: 0 20px;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid white;
}

.menuhold ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
}

.menuhold ul li {
    font-size: 18px;
    font-weight: 500;
    transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.button {
    padding: 10px 30px;
    background-color: var(--brand-col1);
    display: block;
    color: white;
    border-radius: 10px;
}

.menuhold ul li:hover {
    color: var(--brand-col1);
}

.toggle {
    width: 44px;
    height: 44px;
    padding: 10px;
    cursor: pointer;
    position: relative;
    background-color: var(--brand-col1);
    box-shadow: 5px 5px 12px -4px var(--brand-col1);
}

.toggle .ham {
    fill: white;
    width: 100%;
    height: 100%;
    transform: rotate(0deg);
    opacity: 1;
    transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.activetoggle .ham {
    transform: rotate(45deg);
    opacity: 0;
}

.close {
    position: absolute;
    fill: white;
    width: 100%;
    height: 100%;
    transform: rotate(-45deg) scale(0.7);
    opacity: 0;
    left: 0;
    top: 0;
    transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.activetoggle .close {
    transform: rotate(0deg) scale(0.7);
    opacity: 1;
    transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.toggle,
.mobmenu {
    display: none;
}

@media only screen and (max-width:1040px) {
    .navlist {
        display: none;
    }
}

@media only screen and (max-width:768px) {
    .toggle {
        display: block !important;
    }
    .mobmenu {
        display: flex !important;
        background-color: var(--brand-col1);
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        align-items: center;
        align-content: center;
        justify-content: center;
        z-index: 96;
        text-align: center;
        transform: translateX(100%);
        transition: all .6s cubic-bezier(.46, 0, 0, 1.02);
    }
    .mobmenu ul {
        padding: 0;
        list-style-type: none;
        font-family: Playfair Display;
        font-size: 7vw;
    }
    .mobmenu li {
        margin: 20% 0;
        transition: all .2s cubic-bezier(.46, 0, 0, 1.02);
    }
    .mobmenu li:hover {
        color: white;
    }
    .mobmenu .button {
        box-shadow: 4px 4px 12px -4px #00000022;
        border: 1px solid white;
    }
    .activemenu {
        transform: translateX(0px);
    }
    .navlogo img {
        width: 50px;
    }
    .navcont {
        padding: 20px 4vw;
    }
    .menuhold {
        display: none;
    }
}