.content {
    width: 100%;
    margin: 0 auto;
}

.maincont {
    background-color: white;
}

.ai {
    width: auto;
    display: flex;
    background-color: var(--brand-col1);
    color: white;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    flex-direction: row;
    padding: 10px 30px 10px 10px;
    border-radius: 10px;
    position: fixed;
    left: 20px;
    z-index: 989;
    cursor: pointer;
    bottom: 20px;
    text-align: center;
    font-family: SF Pro Display;
    transition: all .4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.ai svg {
    margin-right: 10px;
    width: 24px;
    height: 24px;
}
.badge{
    position: fixed;
    right: 0;
    top: 20%;
    transform: translateY(-50%);
    z-index: 999999;
    width: auto;
    height: auto;
    text-align: center;
}
.badgeinner{
    position: absolute;
    top: 0;
    right: -90px;
    cursor: pointer;
    display: flex;
    width: 210px;
    text-align: center;
    justify-content: center;align-items: center;
    align-content: center;
    padding: 0px 10px;
    height: auto;
    background-color: var(--brand-col2);
    color: white;
    font-family: Work Sans;
    transform: rotate(-90deg);
    font-size: 12px;
    border-radius: 10px 10px 0 0;
}
.badgeinner svg{
    margin-right: 10px;
}
.close{
    width: 100%;
    text-align: right;
    padding: 10px;
}
.animating{
    transform:  translateX(-100%) !important;
    transition: all 1.2s cubic-bezier(.97,0,0,1) !important;
}
.promoholder{
    position: fixed;
    z-index: 999999999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;justify-content: center;align-content: center;
    background-color: black;
    transform: translateX(100%) translateY(0);
    transition: all 0s cubic-bezier(.97,-0.02,0,1);
}
.activepromo{
    transform: translateX(0%) translateY(0);
    transition: all 1.2s cubic-bezier(.99,-0.24,0,1.01);
}
.closed{
    opacity: 0;
    transform: translateX(100%);
}

.promocontent{
    color: white;
    text-align: center;
    font-family: Work Sans;
    flex: 1;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;align-items: center;align-content: center;

}

.promocontent h1{
    font-weight: 200;
    text-transform: uppercase;
    margin: 5px 0;
    color: rgba(245, 59, 59, 0.938);
    text-shadow: 4px 4px 6px rgba(245, 59, 59, 0.938);
}
.promocontent h2{

    font-weight: 500;
    text-transform: uppercase;
    
    margin: 5px 0;
}
.promocontent h5{

    
   font-weight: 300;
    margin: 5px 0;
}
.bottomimage{
    position: absolute;
    left: 0;
    bottom: -10%;
    z-index: 0;
    width: 100%;
    height: auto;
    opacity: 0.4;
}
.loaderoverlay {


    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #00000066;
    z-index: 9999999;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    color: white;
    font-family: SF Pro Display;
    animation: re 0.5s normal cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
    opacity: 0;
}

.loaderoverlay div {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    animation: re 1s normal cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
    opacity: 0;
    flex-direction: column;
}

@keyframes re {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.loaderoverlay svg {
    width: 44px;
    height: 44px;
    animation: rot 2s normal infinite linear;
    animation-fill-mode: forwards;
}

@keyframes rot {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.ai:hover {
    background-color: black;
}

.ai::before {
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: var(--brand-col1);
    opacity: 0;
    position: absolute;
    z-index: -1;
    filter: blur(5px);
    border-radius: 10px;
    transition: all .4s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: scale(0.5);
}

.ai:hover::before {
    opacity: 0.5;
    transform: scale(1.2);
}

.wa {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 989;
}

.waicon {
    padding: 10px;
    width: 64px;
    height: 64px;
    cursor: pointer;
    border-radius: 200px;
    transition: all .4s cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: white;
    box-shadow: 4px 4px 12px -5px transparent, 1px 1px 0px 0px #00000011, 8px 8px 22px -3px #00000022;
}

.waicon:hover {
    background-color: #25D366;
}

.phone {
    width: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 64px;
    background-color: var(--brand-col1);
    position: fixed;
    right: 94px;
    z-index: 989;
    border-radius: 200px;
    bottom: 20px;
}

.wawin {
    position: absolute;
    width: 300px;
    background-color: white;
    border-radius: 20px;
    height: auto;
    min-height: 44px;
    padding: 10px;
    right: 0;
    bottom: 72px;
    opacity: 0;
    display: flex;
    box-shadow: 1px 1px 0px 0px #00000011, 8px 8px 22px -3px #00000022;
    flex-direction: row;
    border: 1px solid transparent;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    transform: translateY(20px);
    animation: slideup .3s normal cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-fill-mode: forwards;
}

.wawin input {
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 12px;
    font-family: SF Pro Display;
    flex: 1;
    margin-right: 10px;
    outline: 0;
    border: 1px solid #ddd;
}

.wawin button {
    width: 44px;
    height: 44px;
    background-color: #25D366;
    border-radius: 200px;
    border: 0;
    outline: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    position: relative;
    opacity: 0;
    transform: translateX(-20px);
    animation: pop .3s normal cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
    animation-delay: 150ms;
}

@keyframes pop {
    0% {
        opacity: 0;
        transform: translateX(-20px) rotate(-45deg);
    }
    100% {
        opacity: 1;
        transform: translateX(0px) rotate(0deg);
    }
}

.wawin button::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 200px;
    background-color: #25D366;
    content: '';
    z-index: -1;
    transition: all .9s cubic-bezier(0.215, 0.610, 0.355, 1);
    transform: scale(0);
    opacity: 0;
}

.activeIcon {
    background-color: #25D366;
    border: 1px solid white;
    box-shadow: 4px 4px 22px -5px #25D366, 1px 1px 0px 0px #00000011, 8px 8px 22px -3px #00000022 !important;
}


/* .activeIcon svg {
    opacity: 1 !important;
    transform: translate(-50%, -50%) rotate(45deg) !important;
} */

.waicon svg {
    opacity: 0;
    transition: all .9s cubic-bezier(0.165, 0.84, 0.44, 1);
    position: absolute;
    left: 50%;
    top: 50%;
    width: 35px;
    height: 35px;
    transform: translate(-50%, -50%) rotate(0deg);
    z-index: 9;
    animation: main .4s cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
}

@keyframes main {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(45deg);
    }
}

.waicon img {
    transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
    opacity: 1;
}

.activeIcon img {
    opacity: 0;
}

.wawin button:hover::before {
    transform: scale(1.3);
    opacity: 0.5;
    transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes slideup {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@media only screen and (max-width:768px) {
    .ai {
        font-size: 12px;
    }
    .ai svg {
        width: 14px;
    }
    .bottomimage{
        bottom: 0;
        opacity: 0.8;
    }
}