.cardhold {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    padding: 0 8vw 0px 8vw;
}

.mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 102%;
    background: rgb(255, 255, 255);
    background: linear-gradient(292deg, rgba(255, 255, 255, 0) 38%, rgba(255, 255, 255, 1) 60%);
}

.content {
    width: 60%;
    position: relative;
    z-index: 9;
}

.content h2 {
    font-family: Playfair Display;
    font-size: 4vw;
    margin: 6px 0;
}

.content p {
    font-size: 14px;
    margin: 6px 0;
    font-family: SF Pro Display;
}

.getstarted {
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.getstarted .input {
    font-family: SF Pro Display;
    font-size: 12px;
    color: #999;
    padding: 13px 20px;
    width: 50%;
    margin-right: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
    outline: 0;
}

.top {
    font-family: SF Pro Display;
    font-size: 14px;
}

.conts {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.cont {
    width: auto;
    display: flex;
    flex-direction: row;
    background-color: rgb(248, 248, 248);
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 10px 10px;
    font-family: SF Pro Display;
    margin: 0 10px 10px 0;
}

.partners {
    font-family: SF Pro Display;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0 30px;
}

.university {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.authorities {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 8vw;
    overflow: hidden;
}

.authorities .heading {
    font-size: 3rem;
    font-family: Playfair Display;
    flex: 0 0 50%;
}

.authorities .marqueecont {
    width: 50%;
}

.aitool {
    width: 100%;
    background-color: var(--brand-col1);
    padding: 50px 8vw;
    text-align: center;
    position: relative;
    margin: 0px 0 80px 0;
}

.aitool h2 {
    font-family: Playfair Display;
    color: white;
    font-size: 3rem;
    width: 70%;
    font-weight: 400;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.aitool a {
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 22px;
    color: white;
    font-family: SF Pro Display;
    display: block;
    width: 300px;
    margin: 20px auto;
    z-index: 1;
    position: relative;
}

.aitool img {
    position: absolute;
    left: 0;
    object-fit: cover;
    object-position: right;
    top: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: luminosity;
    z-index: 0;
    opacity: 0.3;
}

.whyus {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.why {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px 0;
    flex: 0 0 33%;
    height: 300px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.why p {
    font-family: Playfair Display;
    font-size: 2rem;
    z-index: 9;
    margin: 5px 0;
    position: relative;
    padding: 20px;
    color: white;
}

.mask2 {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgb(255, 255, 255);
    opacity: 0;
    z-index: 1;
    background: linear-gradient(225deg, rgba(255, 255, 255, 0) 40%, var(--brand-col1) 90%);
    transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.mask3 {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 0;
    width: 100%;
    background: rgb(255, 255, 255);
    background: linear-gradient(225deg, rgba(255, 255, 255, 0) 40%, rgba(0, 0, 0, 0.836) 90%);
    transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.why:hover .mask2 {
    opacity: 1;
}

.dcard {
    width: 100%;
    height: 400px;
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    font-family: SF Pro Display;
    justify-content: flex-end;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
    padding: 10px;
}

.dcardcontent {
    background-color: white;
    width: 100%;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}

.dcardcontent img {
    width: 90%;
    margin: 0 auto;
}

.colimg {
    width: 70px;
    object-fit: contain;
    object-position: center;
    height: 70px;
    margin-right: 10px;
}

.dcardcontent div {
    flex: 1;
}

.dcardcontent h2,
.dcardcontent p {
    margin: 5px 0;
}

.dcardcontent h2 {
    font-family: SF Pro Display;
}


/* .right {
    width: 40vw;
    height: auto;
    position: absolute;
    right: -10vw;
    top: -15vw;
} */

.university img {
    border-radius: 20px;
    object-fit: contain;
    width: 10vw;
    height: 10vw;
    padding: 0;
}

.cont img {
    width: 44px;
    height: 44px;
    margin-right: 10px;
    border-radius: 200px;
}

.cont p {
    margin: 5px 0;
    font-size: 16px;
    font-weight: 500;
}

.getstarted button,
.mainbutton {
    width: auto;
    margin-left: 10px;
    padding: 10px 20px;
    background-color: var(--brand-col1);
    color: white;
    font-family: SF Pro Display;
    font-size: 16px;
    outline: 0;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}

.mainbutton {
    margin: 10px 0;
    border: 1px solid white;
    cursor: pointer;
}

.card {
    flex: 1 1 24%;
    margin: 10px;
    border-radius: 20px;
    overflow: hidden;
    height: 60vh;
    padding: 20px;
    font-family: SF Pro Display;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: cover;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
}

.ccard {
    flex: 1 1 24%;
    margin: 10px;
    border-radius: 20px;
    overflow: hidden;
    min-height: 400px;
    height: auto;
    padding: 10px;
    background-color: white;
    font-family: SF Pro Display;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: cover;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    box-shadow: 4px 4px 12px -4px #00000022;
}

.ccard h2 {
    font-family: Playfair Display;
    margin: 10px 0;
}

.rcard {
    flex: 1 1 24%;
    margin: 10px;
    border-radius: 20px;
    overflow: hidden;
    height: auto;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    font-family: SF Pro Display;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: cover;
    border: 1px solid white;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    box-shadow: 4px 4px 12px -4px #00000022;
}

.rcard h2 {
    font-family: Playfair Display;
    margin: 10px 0;
    color: var(--brand-col1);
}

.rcard .stars svg {
    width: 14px;
    height: 14px;
}

.rcard p {
    font-size: 16px;
    margin: 10px 0;
}

.rbadge {
    position: absolute;
    right: 0;
    background-color: var(--brand-col1);
    color: white;
    padding: 10px 20px;
    top: 20px;
    z-index: 99;
    right: 0px;
    max-width: 60%;
    font-size: 12px;
    border-radius: 10px 0 0px 10px;
}

.country {
    background-color: var(--brand-col1);
    text-align: center;
    font-family: SF Pro Display;
    font-size: 12px;
    border-radius: 10px;
    display: inline-block;
    padding: 5px 10px;
    margin: 0 !important;
    color: white;
}

.rcard .cardcontent {
    position: relative;
    z-index: 2;
}

.cric {
    position: absolute;
    left: 0;
    top: 0;
    width: 80%;
    height: 200px;
    background-color: var(--brand-col1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 200px;
    filter: blur(50px) brightness(1.5);
    z-index: 0;
    opacity: 0.5;
}

.rcard img {
    z-index: 9;
    width: 84px;
    height: 84px;
    border-radius: 210px;
    object-fit: cover;
    border: 4px solid var(--brand-col1);
    object-position: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
    margin: 10px 0;
}

.buttons a {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    text-align: center;
    flex: 1;
    background-color: var(--brand-col1);
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.buttons a:hover {
    background-color: black;
}

.buttons a {
    margin-right: 10px;
}

.ccard p {
    margin: 10px 0;
}

.ccard img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}

.students {
    background: var(--brand-col1);
    background: linear-gradient(302deg, var(--brand-col1) 0%, rgba(0, 0, 0, 1) 65%);
    width: 100%;
    padding: 80px 8vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    color: white;
    font-family: SF Pro Display;
}

.students .left h2 {
    font-size: 4rem;
    margin: 5px 0;
}

.left button {
    cursor: pointer;
    background-color: white;
    color: var(--brand-col1);
    font-family: SF Pro Display;
    font-size: 1.5rem;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 15px 0;
}

.students .right {
    width: 40%;
    padding: 10px 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.circle {
    display: flex;
    background-color: white;
    width: 15vw;
    height: 15vw;
    border-radius: 2000px;
}

.students .right img {
    width: 100%;
    transform: translate(2%, -2%) rotate(15deg);
    animation: float 8s normal infinite ease;
}

.formhold {
    background-color: var(--brand-col1);
    width: 100%;
    padding: 50px 5%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    position: relative;
}

.formcontent {
    flex: 1;
    padding-right: 40px;
    position: relative;
}

.formcontent h1 {
    font-family: SF Pro Display;
    font-size: 44px;
    font-weight: 400;
    color: white;
    margin: 5px 0;
}

.benefits {
    font-size: 16px;
    margin: 5px 0;
    font-weight: 400;
    font-family: SF Pro Display;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 20px 0;
    flex-wrap: wrap;
}

.benefit {
    width: auto;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.benefit p {
    color: white;
    margin: 15px 0;
}

.bimage {
    width: 104px;
    background-color: black;
    border: 1px solid var(--brand-accent);
    height: 104px;
    border-radius: 200px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.bimage img {
    width: 50%;
    height: 50%;
}

.submit svg,
.getstarted svg {
    width: 18px;
    height: auto;
    margin-right: 10px;
    animation: rot 2s normal infinite linear;
}

.formcontent h1 span {
    color: var(--brand-extra2);
}

.modaloverlay {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 99999;
    background-color: #00000022;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.modal {
    width: 600px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}

.modal h2 {
    margin: 5px 0;
    font-family: Playfair Display;
    color: var(--brand-col1);
}

.modal div {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: row;
}

.modal div a {
    background-color: var(--brand-col1);
    color: white;
    margin: 10px;
    border-radius: 10px;
    padding: 10px 20px;
    font-family: SF Pro Display;
}

.modal p {
    font-size: 16px;
    margin: 5px auto;
    width: 400px;
    font-family: SF Pro Display;
}

.input:focus,
.input:hover {
    outline: 0;
    border: 1px solid var(--brand-col2);
}

.input {
    user-select: all;
    font-family: SF Pro Display;
    width: 100%;
    background-color: white;
    color: black;
    box-shadow: 4px 4px 12px -5px #00000022;
    padding: 1.5vh;
    border-radius: 10px;
    border: 0;
    font-size: 12px;
    margin: 5px 0;
    position: relative;
    border: 1px solid transparent;
    border: 1px solid #ddd;
}

.formcont {
    margin: 0 0 0 auto;
    background-color: white;
    padding: 15px 30px 30px 30px;
    border-radius: 20px;
    width: 460px;
    font-family: SF Pro Display;
    position: relative;
    z-index: 2;
}

.para {
    color: black;
    font-family: SF Pro Display;
    margin: 10px 0 20px 0;
}


/* .formcont::before {
    content: '';
    position: relative;
    width: 100px;
    height: 100px;
    box-shadow: 5px 5px 12px -5px #000000cb;
    z-index: 3;
} */

.formcont h1 {
    font-weight: 400;
}

.submit {
    margin: 10px 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    font-family: SF Pro Display;
    cursor: pointer;
    background-color: black;
    padding: 10px 20px;
    position: relative;
    border-radius: 10px;
    color: white;
    border: 1px solid white;
    transition: all .4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes rot {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.submit:hover {
    filter: brightness(1.1);
    background-color: #333333;
    color: white;
}

.error {
    color: red;
    font-family: SF Pro Display;
    font-size: 12px;
    margin: 5px 0;
    font-weight: 600;
}

.fielderror {
    border: 1px solid red !important;
    background-color: rgba(255, 0, 0, 0.048);
}

.fielderror:focus {
    border: 1px solid red !important;
}

@keyframes float {
    0% {
        transform: translate(2%, -6%) rotate(8deg);
    }
    50% {
        transform: translate(-2%, 6%) rotate(-8deg);
    }
    100% {
        transform: translate(2%, -6%) rotate(8deg);
    }
}

.students .left {
    width: 60%;
}

.gradfill {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(220deg, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.938) 100%);
}

.ccard .cardcontent {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}

.cardcontent {
    z-index: 9;
}

.card h2 {
    font-family: Playfair Display;
    font-size: 3rem;
    margin: 5px 0;
    color: white;
}

.card p {
    margin: 5px 0;
    color: #eee;
    font-size: 12px;
    display: none;
    line-height: 16px;
}

.who {
    width: 100%;
    display: flex;
    font-family: SF Pro Display;
    flex-direction: row;
}

.col1 {
    width: 60%;
}

.col2 {
    position: relative;
    width: 40%;
    overflow: hidden;
    margin-left: 20px;
}

.col2 iframe {
    border-radius: 20px;
    overflow: hidden;
}

.card svg {
    width: 24px;
    height: 24px;
}

.hero video {
    position: absolute;
    right: 0;
    pointer-events: none;
    top: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width:968px) {
    .modal {
        width: 90%;
        margin: 0 auto;
    }
    .modal p {
        width: auto;
        margin: 0 auto;
    }
    .modal div {
        flex-direction: column;
    }
    .modal div a {
        margin: 5px;
    }
    .formhold {
        flex-direction: column;
    }
    .formcont {
        margin: 0 auto;
        width: 100%;
    }
    .formcontent h1 {
        font-size: 8vw;
    }
    .getstarted {
        flex-direction: column;
        align-items: flex-start;
    }
    .getstarted * {
        margin: 0 0 10px 0;
    }
    .getstarted input {
        width: 100% !important;
    }
    .getstarted button,
    .mainbutton {
        margin-left: 0;
        width: 50%;
    }
    .cardhold {
        flex-wrap: wrap;
    }
    .card {
        flex: 0 0 47%;
    }
    .why {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 10px 0;
        flex: 0 0 49%;
        height: 300px;
        border-radius: 20px;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .hero {
        width: 100%;
        background-position: center;
    }
    .content {
        width: 100%;
    }
    .mask {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 102%;
        background: rgb(255, 255, 255);
        background: linear-gradient(292deg, rgba(255, 255, 255, 0) 38%, rgba(255, 255, 255, 0.856) 70%);
    }
    .content h2 {
        font-size: 11vw;
    }
}

@media only screen and (max-width:768px) {
    .who {
        flex-direction: column-reverse;
    }
    .col2 {
        height: auto;
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
    }
    .col1 {
        width: 100%;
        font-size: 14px;
    }
    .conts {
        width: 100%;
    }
    .students {
        flex-direction: column-reverse;
        width: 100%;
        padding: 20px 4vw;
    }
    .hero {
        padding: 0 4vw 50px 4vw;
        padding-top: 80px;
    }
    .left,
    .right {
        width: 100% !important;
    }
    .students .left h2 {
        font-size: 6vw;
    }
    .students .right {
        justify-content: center;
    }
    .students .right .circle {
        width: 60vw;
        height: 60vw;
    }
    .hero p {
        font-size: 16px;
    }
    .card {
        flex: 0 0 45%;
    }
    .university img {
        width: 30vw;
        height: 30vw;
    }
    .authorities {
        flex-direction: column;
        padding: 10px 4vw;
    }
    .authorities .marqueecont {
        width: 100%;
    }
    .authorities .heading {
        font-size: 2rem;
    }
    .aitool h2 {
        font-size: 2rem;
        width: 100%;
    }
    .aitool {
        padding: 20px 4vw;
    }
}

@media only screen and (max-width:568px) {
    .why {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 10px 0;
        flex: 0 0 49%;
        height: 200px;
        border-radius: 20px;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .card {
        flex: 0 0 100%;
        padding: 20px;
        margin: 10px 0;
    }
    .why p {
        font-size: 1rem;
    }
}